POSTGRES_DB=mi_turno
POSTGRES_USER=mi_turno_user
POSTGRES_PASSWORD=mi_turno_pass
POSTGRES_PORT=5432

BACKEND_PORT=3001
FRONTEND_PORT=3000
FRONTEND_ORIGIN=http://localhost:3000

BAILEYS_AUTH_DIR=auth_info_baileys
BAILEYS_AUTO_CONNECT=false
BAILEYS_PAIRING_CODE_TTL_SECONDS=180

NEXT_PUBLIC_API_URL=http://localhost:3001

REMINDER_WORKER_ENABLED=true
REMINDER_LEAD_MINUTES=120
REMINDER_POLL_INTERVAL_MS=15000
REMINDER_BATCH_SIZE=20
REMINDER_MAX_ATTEMPTS=3
