POSTGRES_DB=mi_turno
POSTGRES_USER=mi_turno_user
POSTGRES_PASSWORD=mi_turno_pass
POSTGRES_PORT=5432

BACKEND_PORT=3001
FRONTEND_PORT=3000

BAILEYS_AUTH_DIR=auth_info_baileys
BAILEYS_AUTO_CONNECT=false
